[submodule "datascience"]
	path = datascience
	url = https://github.com/algorinfo/datascience
[submodule "dataenv"]
	path = dataenv
	url = https://github.com/algorinfo/dataenv
[submodule "flask_template"]
	path = flask_template
	url = https://github.com/algorinfo/flask_template
[submodule "sanic_template"]
	path = sanic_template
	url = https://github.com/algorinfo/sanic_template
[submodule "fileserver"]
	path = fileserver
	url = https://github.com/algorinfo/fileserver
